.card{
   
    border:none;
    width:45vw;
    padding:40px;
    position:absolute;
    border-radius: 35px;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:rgb(35, 145, 141);
}
.card  h1,h6{
    color:#fff27a;
    font-family: 'Calibri';
}
label{
    color:#fff27a;
}

.image{
    height:654px; background-size:cover; width:auto;
    background-image:url("https://www.roberthalf.com/sites/default/files/2021-04/shutterstock_412257712-2.jpg");
    background-position:50% 50%;
  }


