.card{
   
    border-radius: 30px;
    width:50vw;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:rgb(35, 145, 141);
}
.card  h1,h6{
    color:#fff27a;
}
label{
    color:#fff27a;
}

.image{
    height: 650px; background-size:cover; width:auto;
    background-image:url("https://www.roberthalf.com/sites/default/files/2021-04/shutterstock_412257712-2.jpg");
    background-position:left top;
  }
